.btn{
    padding: 15px 40px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    background-color: #5dca88;
    box-shadow: 0 7px #1a7940;
    text-decoration: none;
    width:100px;
    text-align:center;
    font-size:20px;
}
.btn:hover {
    opacity: 1;
  }
.btn:active{
    position:relative;
    box-shadow: 0 2px #1a7940;
    top:5px;
}
.btndiv{
    margin:50px auto 0pc auto;
    width: 200px;
}
.sen{
    text-align: center;
}
